In [3]:
# VE: arcgispro-py3-clone

In [4]:
from arcgis.gis import GIS
from IPython.display import display
from arcgis import features
#from arcpy.sa import *  
import pandas as pd
#import geopandas as gpd
import matplotlib.pyplot as plt

In [5]:
# --- JOIN 2020 ---

In [6]:
# Leggere CSV1 
csv1 = 'resources/stazioni_qualità_dell_aria.csv'
sensori_1 = pd.read_csv(csv1)
sensori_1.head()
#sensori_1.shape

,IdSensore,NomeTipoSensore,UnitaMisura,Idstazione,NomeStazione,Quota,Provincia,Comune,Storico,DataStart,DataStop,Utm_Nord,UTM_Est,lat,lng,location
0,10179,Biossido di Azoto,µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,29/11/2006,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
1,10177,Ossidi di Azoto,µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,29/11/2006,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
2,10185,PM10 (SM2005),µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,01/01/2007,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
3,10399,Particelle sospese PM2.5,µg/m³,583,Bergamo - via Meucci,249.0,BG,Bergamo,N,20/12/2008,NaN,5059922,550116,45.691037,9.643651,"(45.69103740547214, 9.643650579461385)"
4,6642,Particolato Totale Sospeso,µg/m³,542,Meda,222.0,MB,Meda,S,01/11/1995,04/02/1998,5056480,512203,45.661762,9.156644,"(45.66176219189168, 9.156643984551597)"

In [7]:
# Leggere csv2
csv2 = 'resources/sensori_aria_2020_03_to_05_VA.csv'
sensori_2 = pd.read_csv(csv2)
sensori_2.head()
#sensori_2.shape

   IdSensore              Data  Valore Stato  idOperatore
0       6411  01/01/2020 00:00     1.0    VA            1
1       5504  01/01/2020 00:00   125.0    VA            1
2       5507  01/01/2020 00:00    63.8    VA            1
3       5517  01/01/2020 00:00    68.7    VA            1
4       5520  01/01/2020 00:00    20.5    VA            1

In [8]:
# Media per sensore
sensori_2_media = sensori_2.groupby("IdSensore").mean()
sensori_2_media

               Valore  idOperatore
IdSensore
5504      -603.196140            1
5507      -466.068061            1
5517        47.673935            1
5520         4.617136            1
5531        36.707633            1
...               ...          ...
30160       15.532741            1
30162     -493.146557            1
30163     -528.768222            1
30165     -500.102708            1
30166     -273.210959            1

[497 rows x 2 columns]

In [9]:
table = pd.merge(sensori_1, sensori_2_media, how='inner', on=['IdSensore'])

In [10]:
table.to_csv(r'output\join_2020.csv', index = False)

In [11]:
# --- JOIN CSV 2019 ---

In [12]:
# Leggere CSV1
csv1 = 'resources/stazioni_qualità_dell_aria.csv'
sensori_1 = pd.read_csv(csv1)
sensori_1.head()
#sensori_1.shape

,IdSensore,NomeTipoSensore,UnitaMisura,Idstazione,NomeStazione,Quota,Provincia,Comune,Storico,DataStart,DataStop,Utm_Nord,UTM_Est,lat,lng,location
0,10179,Biossido di Azoto,µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,29/11/2006,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
1,10177,Ossidi di Azoto,µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,29/11/2006,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
2,10185,PM10 (SM2005),µg/m³,704,Sermide - via Dalla Chiesa,11.0,MN,Sermide e Felonica,S,01/01/2007,01/01/2017,4986023,680789,45.004614,11.294015,"(45.004613731114105, 11.294014707706845)"
3,10399,Particelle sospese PM2.5,µg/m³,583,Bergamo - via Meucci,249.0,BG,Bergamo,N,20/12/2008,NaN,5059922,550116,45.691037,9.643651,"(45.69103740547214, 9.643650579461385)"
4,6642,Particolato Totale Sospeso,µg/m³,542,Meda,222.0,MB,Meda,S,01/11/1995,04/02/1998,5056480,512203,45.661762,9.156644,"(45.66176219189168, 9.156643984551597)"

In [13]:
# Leggere CSV2
csv2 = 'resources/sensori_aria_2019_03_to_05_VA.csv'
sensori_2 = pd.read_csv(csv2)
sensori_2.head()
#sensori_2.shape

   IdSensore              Data  Valore Stato  idOperatore
0       5504  01/01/2019 00:00    75.6    VA            1
1       5507  01/01/2019 00:00    61.0    VA            1
2       5517  01/01/2019 00:00    54.8    VA            1
3       5520  01/01/2019 00:00    61.8    VA            1
4       5531  01/01/2019 00:00    48.8    VA            1

In [14]:
sensori_2_media = sensori_2.groupby("IdSensore").mean()
sensori_2_media

                Valore  idOperatore
IdSensore
5504       -142.160011            1
5507         51.436164            1
5517      -1312.718941            1
5520       -186.640985            1
5531         20.958449            1
...                ...          ...
30160        13.835041            1
30162      -975.946452            1
30163     -1005.753368            1
30165      -819.776722            1
30166      -211.769504            1

[465 rows x 2 columns]

In [15]:
table = pd.merge(sensori_1, sensori_2_media, how='inner', on=['IdSensore'])

In [16]:
table.to_csv(r'output\join_2019.csv', index = False)